parameters:
	phpVersion: 70200
	level: 9
	paths:
		- Yoast
	bootstrapFiles:
		- phpunit-bootstrap.php
	scanDirectories:
		- vendor/wp-coding-standards/wpcs/WordPress
#	treatPhpDocTypesAsCertain: false
#	reportUnmatchedIgnoredErrors: false
	dynamicConstantNames:
		- PHP_CODESNIFFER_VERBOSITY
		- YOASTCS_ABOVE_THRESHOLD

	ignoreErrors:
		# Level 4
		-
			# Bug in PHPStan: PHPStan doesn't seem to like uninitialized properties...
			# https://github.com/phpstan/phpstan/issues/10305
			message: '`^Property \S+Sniff::\$target_paths \(array<string, string>\) in isset\(\) is not nullable\.$`'
			path: Yoast/Sniffs/Files/TestDoublesSniff.php
			count: 1

		# Level 5
		# We're not using strict types, so this will be juggled without any issues.
		- '#^Parameter \#3 \$value of method \S+File::recordMetric\(\) expects string, \(?(float|int|bool)(<[^>]+>)?(\|(float|int|bool)(<[^>]+>)?)*\)? given\.$#'

		# Level 8
		# PHPStan (x2) being overzealous: preg_replace() will only return null if an error occured.
		-
			message: '`^Parameter #1 \$str of function strtolower expects string, string\|null given\.$`'
			path: Yoast/Sniffs/Files/FileNameSniff.php
			count: 1
		-
			message: '`^Parameter #2 \$str of function explode expects string, string\|null given\.$`'
			path: Yoast/Sniffs/NamingConventions/NamespaceNameSniff.php
			count: 1
