name: Test

on:
  # Run on pushes to `main` and on all pull requests.
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - '**.md'
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PHPCS_HIGHEST: '3.x-dev'
  UTILS_HIGHEST: 'dev-develop'
  WPCS_HIGHEST: 'dev-develop as 3.99' # Alias needed to prevent composer conflict with VIPCS.

jobs:
  lint:
    if: ${{ github.ref != 'refs/heads/develop' }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php_version: ['7.2', '8.0', '8.5', 'nightly']

    name: "Lint: PHP ${{ matrix.php_version }}"

    continue-on-error: ${{ matrix.php_version == 'nightly' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Install PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: ${{ matrix.php_version }}
          ini-file: 'development'
          coverage: none
          tools: cs2pr

      # Install dependencies and handle caching in one go.
      # @link https://github.com/marketplace/actions/install-php-dependencies-with-composer
      - name: Install Composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
        with:
          # For the PHP "nightly", we need to install with ignore platform reqs as not all dependencies may allow it yet.
          composer-options: ${{ matrix.php_version == 'nightly' && '--ignore-platform-req=php+' || '' }}
          # Bust the cache at least once a month - output format: YYYY-MM.
          custom-cache-suffix: $(date -u "+%Y-%m")

      # The results of the linting will be shown inline in the PR via the CS2PR tool.
      # @link https://github.com/staabm/annotate-pull-request-from-checkstyle/
      - name: Lint against parse errors
        run: composer lint -- --checkstyle | cs2pr

  #### TEST STAGE ####
  test:
    if: ${{ github.ref != 'refs/heads/develop' }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # The GHA matrix works different from Travis.
        # You can define jobs here and then augment them with extra variables in `include`,
        # as well as add extra jobs in `include`.
        # @link https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategymatrix
        #
        # The matrix is set up so as not to duplicate the builds which are run for code coverage.
        php_version: ['7.3', '7.4', '8.0', '8.1', '8.2', '8.3', '8.4']
        cs_dependencies: ['lowest', 'stable']

        include:
          # Make the matrix complete (when combined with the code coverage builds).
          - php_version: '7.2'
            cs_dependencies: 'stable'
          - php_version: '8.5'
            cs_dependencies: 'stable'

          # Test against dev versions of all CS dependencies with select PHP versions for early detection of issues.
          - php_version: '8.0'
            cs_dependencies: 'dev'
          - php_version: '8.2'
            cs_dependencies: 'dev'

          # Experimental build(s). These are allowed to fail.
          # PHP nightly
          - php_version: 'nightly'
            cs_dependencies: 'dev'

    name: "Test: PHP ${{ matrix.php_version }} - CS Deps ${{ matrix.cs_dependencies }}"

    continue-on-error: ${{ matrix.php_version == 'nightly' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      # With stable PHPCS dependencies, allow for PHP deprecation notices.
      # Unit tests don't need to fail on those for stable releases where those issues won't get fixed anymore.
      - name: Setup ini config
        id: set_ini
        run: |
          if [ "${{ matrix.cs_dependencies }}" != "dev" ]; then
            echo 'PHP_INI=error_reporting=E_ALL & ~E_DEPRECATED, display_errors=On' >> "$GITHUB_OUTPUT"
          else
            echo 'PHP_INI=error_reporting=-1, display_errors=On' >> "$GITHUB_OUTPUT"
          fi

      - name: Install PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f  # 2.35.5
        with:
          php-version: ${{ matrix.php_version }}
          ini-values: ${{ steps.set_ini.outputs.PHP_INI }}
          coverage: none

      - name: "Composer: set PHPCS dependencies for tests (dev)"
        if: ${{ matrix.cs_dependencies == 'dev' }}
        run: >
          composer require --no-update --no-scripts --no-interaction
          squizlabs/php_codesniffer:"${{ env.PHPCS_HIGHEST }}"
          phpcsstandards/phpcsutils:"${{ env.UTILS_HIGHEST }}"
          wp-coding-standards/wpcs:"${{ env.WPCS_HIGHEST }}"

      - name: Enable creation of `composer.lock` file
        if: ${{ matrix.cs_dependencies == 'lowest' }}
        run: composer config --unset lock

      # Install dependencies and handle caching in one go.
      # @link https://github.com/marketplace/actions/install-php-dependencies-with-composer
      - name: Install Composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
        with:
          # For the PHP "nightly", we need to install with ignore platform reqs as not all dependencies may allow it yet.
          composer-options: ${{ matrix.php_version == 'nightly' && '--ignore-platform-req=php+' || '' }}
          # Bust the cache at least once a month - output format: YYYY-MM.
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: "Composer: downgrade PHPCS dependencies for tests (lowest)"
        if: ${{ matrix.cs_dependencies == 'lowest' }}
        run: >
          composer update --prefer-lowest --no-scripts --no-interaction
          squizlabs/php_codesniffer
          phpcsstandards/phpcsutils
          wp-coding-standards/wpcs

      - name: Verify installed versions
        run: composer info --no-dev

      - name: Verify installed standards
        run: vendor/bin/phpcs -i

      - name: Run the unit tests
        run: composer test

  #### CODE COVERAGE STAGE ####
  # N.B.: Coverage is only checked on the lowest and highest stable PHP versions
  # and a low/high of each major for PHPCS.
  # These builds are left out off the "test" stage so as not to duplicate test runs.
  coverage:
    # No use running the coverage builds if there are failing test builds.
    needs: test
    # The default condition is success(), but this is false when one of the previous jobs is skipped
    if: always() && (needs.test.result == 'success' || needs.test.result == 'skipped')

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php_version: ['7.2', '8.5']
        cs_dependencies: ['lowest', 'dev']

    name: "Coverage: PHP ${{ matrix.php_version }} - CS Deps ${{ matrix.cs_dependencies }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      # With stable PHPCS dependencies, allow for PHP deprecation notices.
      # Unit tests don't need to fail on those for stable releases where those issues won't get fixed anymore.
      - name: Setup ini config
        id: set_ini
        run: |
          if [ "${{ matrix.cs_dependencies }}" != "dev" ]; then
            echo 'PHP_INI=error_reporting=E_ALL & ~E_DEPRECATED, display_errors=On, display_startup_errors=On' >> "$GITHUB_OUTPUT"
          else
            echo 'PHP_INI=error_reporting=-1, display_errors=On, display_startup_errors=On' >> "$GITHUB_OUTPUT"
          fi

      - name: Install PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f  # 2.35.5
        with:
          php-version: ${{ matrix.php_version }}
          ini-values: ${{ steps.set_ini.outputs.PHP_INI }}
          coverage: xdebug

      - name: "Composer: set PHPCS dependencies for tests (dev)"
        if: ${{ matrix.cs_dependencies == 'dev' }}
        run: >
          composer require --no-update --no-scripts --no-interaction
          squizlabs/php_codesniffer:"${{ env.PHPCS_HIGHEST }}"
          phpcsstandards/phpcsutils:"${{ env.UTILS_HIGHEST }}"
          wp-coding-standards/wpcs:"${{ env.WPCS_HIGHEST }}"

      - name: Enable creation of `composer.lock` file
        if: ${{ matrix.cs_dependencies == 'lowest' }}
        run: composer config --unset lock

      # Install dependencies and handle caching in one go.
      # @link https://github.com/marketplace/actions/install-php-dependencies-with-composer
      - name: Install Composer dependencies
        uses: "ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520" # 3.1.1
        with:
          # Bust the cache at least once a month - output format: YYYY-MM.
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: "Composer: downgrade PHPCS dependencies for tests (lowest)"
        if: ${{ matrix.cs_dependencies == 'lowest' }}
        run: >
          composer update --prefer-lowest --no-scripts --no-interaction
          squizlabs/php_codesniffer
          phpcsstandards/phpcsutils
          wp-coding-standards/wpcs

      - name: Verify installed versions
        run: composer info --no-dev

      - name: Verify installed standards
        run: vendor/bin/phpcs -i

      - name: Run the unit tests with code coverage
        run: composer coverage

      - name: Upload coverage results to Coveralls
        if: ${{ success() }}
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
        with:
          format: clover
          file: build/logs/clover.xml
          flag-name: php-${{ matrix.php_version }}-cs-${{ matrix.cs_dependencies }}
          parallel: true

  coveralls-finish:
    needs: coverage
    if: always() && needs.coverage.result == 'success'

    runs-on: ubuntu-latest

    name: Coveralls Finish

    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
        with:
          parallel-finished: true
